<div class="login-container">
  <!-- Welcome Back Text -->
  <div class="welcome-back">Welcome Back!</div>

  <!-- Login Form -->
  <div class="login-box">
    <h2 class="text-center">Login</h2>
    <form (ngSubmit)="onSubmit()">
      <!-- Email Field -->
      <div class="mb-3">
        <label for="email" class="form-label">Email<span class="text-danger">*</span></label>
        <div class="form-group">
          <input
            type="email"
            id="email"
            [(ngModel)]="loginData.email"
            name="email"
            class="form-control"
            required
            placeholder=" ">
        </div>
      </div>

      <!-- Password Field -->
      <div class="mb-3">
        <label for="password" class="form-label">Password<span class="text-danger">*</span></label>
        <div class="form-group">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            id="password"
            [(ngModel)]="loginData.password"
            name="password"
            class="form-control"
            required
            placeholder=" ">
        </div>
      </div>

      <!-- Show Password -->
      <div class="form-check mb-3">
        <input type="checkbox" id="show-password" class="form-check-input" (change)="togglePasswordVisibility()" />
        <label for="show-password" class="form-check-label">Show Password</label>
      </div>

      <!-- Login Failed -->
      <div *ngIf="loginFailed" class="text-danger text-center mb-3">
        Invalid email or password
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form><br>

    <!-- Sign-Up Link -->
    <div class="signup-container text-center">
      Don't have an account? <a [routerLink]="['/register']">Sign Up</a>
    </div>
  </div>
</div>
