.container {
  padding: 20px;
}
 
h2 {
  font-weight: 600;
  margin-bottom: 20px;
}
 
.feedback-table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
 
.feedback-table-container th,
.feedback-table-container td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}
 
.delete-button {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
 
.delete-button:hover {
  background-color: #c62828;
}

.custom-toast{
  background-color: #333 !important;
  color:#fff !important;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
 
.toast-container {
  animation: fadeInDown 0.4s ease-in-out;
}
 
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.page-item {
  margin: 0 0.25rem;
}

.page-link {
  color: #2e7d32;
  border: 1px solid #2e7d32;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
  background-color: #2e7d32;
  color: white;
}

.page-item.active .page-link {
  background-color: #2e7d32;
  color: white;
  border-color: #2e7d32;
}

.page-item.disabled .page-link {
  color: #ccc;
  pointer-events: none;
  border-color: #ccc;
}
