<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="signup-container">
    <div class="signup-box">
      <h2 class="text-center">Signup</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <!-- Username Field -->
        <div class="form-group mb-3">
          <label for="username">Username:</label>
          <input id="username" formControlName="username" class="form-control" required>
          <div *ngIf="signupForm.get('username')?.invalid && (signupForm.get('username')?.touched || signupForm.get('username')?.dirty)"
            class="error-message">
            <div *ngIf="signupForm.get('username')?.errors?.required">Username is required</div>
            <div *ngIf="signupForm.get('username')?.errors?.minlength">Username must have at least 3 characters</div>
            <div *ngIf="signupForm.get('username')?.errors?.maxlength">Username should not exceed 30 characters</div>
          </div>
        </div>

        <!-- Email Field -->
        <div class="form-group mb-3">
          <label for="email">Email:</label>
          <input id="email" type="email" formControlName="email" class="form-control" required>
          <div *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)"
            class="error-message">
            <div *ngIf="signupForm.get('email')?.errors?.required">Email is required</div>
            <div *ngIf="signupForm.get('email')?.errors?.pattern">Please enter a valid email</div>
          </div>
        </div>

        <!-- Mobile Number Field -->
        <div class="form-group mb-3">
          <label for="mobileNumber">Mobile:</label>
          <input id="mobileNumber" type="text" formControlName="mobileNumber" class="form-control" required>
          <div *ngIf="signupForm.get('mobileNumber')?.invalid && (signupForm.get('mobileNumber')?.touched || signupForm.get('mobileNumber')?.dirty)"
            class="error-message">
            <div *ngIf="signupForm.get('mobileNumber')?.errors?.required">Mobile number is required</div>
            <div *ngIf="signupForm.get('mobileNumber')?.errors?.pattern">Mobile number must start with a digit in the range 6-9</div>
            <div *ngIf="signupForm.get('mobileNumber')?.errors?.maxlength">Mobile number must contain 10 digits</div>
          </div>
        </div>

        <!-- Password Field -->
        <div class="form-group mb-3">
          <label for="password">Password:</label>
          <input id="password" type="password" formControlName="password" class="form-control" required>
          <div *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)"
            class="error-message">
            <div *ngIf="signupForm.get('password')?.errors?.required">Password is required</div>
            <div *ngIf="signupForm.get('password')?.errors?.minlength">Password must be at least 6 characters long</div>
            <div *ngIf="signupForm.get('password')?.errors?.pattern">Password must contain at least one uppercase, lowercase letter, special character, and digit</div>
          </div>
        </div>

        <!-- Confirm Password Field -->
        <div class="form-group mb-3">
          <label for="confirmPassword">Confirm Password:</label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" required>
          <div *ngIf="signupForm.get('confirmPassword')?.invalid && (signupForm.get('confirmPassword')?.touched || signupForm.get('confirmPassword')?.dirty)"
            class="error-message">Confirm Password is required</div>
          <div *ngIf="signupForm.get('confirmPassword')?.dirty && signupForm.get('password')?.value !== signupForm.get('confirmPassword')?.value"
            class="error-message">Passwords must match</div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary w-100" [disabled]="signupForm.invalid">Signup</button>
      </form><br>
      <p class="text-center">Already have an account? <a (click)="login()">Login</a></p>
    </div>
  </div>
</div>

<!-- Toast Notification -->
<div class="toast-container position-fixed top-0 end-0 p-3" *ngIf="showToastNotification">
  <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Success</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="showToastNotification = false"></button>
    </div>
    <div class="toast-body">
      User Registration Successful!
    </div>
  </div>
</div>
