<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FarmAid Signup</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="signup-container">

      <div class="signup-box">
        <h2 class="text-center">Signup</h2>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <label for="username">Username:</label>
            <input id="username" formControlName="username" class="form-control" required>
            <div *ngIf="signupForm.get('username')?.invalid && (signupForm.get('username')?.touched || signupForm.get('username')?.dirty)"
              class="error-message">
              <div *ngIf="signupForm.get('username')?.errors?.required">Username is required</div>
              <div *ngIf="signupForm.get('username')?.errors?.minlength">Username must have at least 3 characters</div>
              <div *ngIf="signupForm.get('username')?.errors?.maxlength">Username should not exceed 20 characters</div>
            </div>
          </div>


          <div class="form-group mb-3">
            <label for="email">Email:</label>
            <input id="email" type="email" formControlName="email" class="form-control" required>
            <div *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)"
              class="error-message">
              <div *ngIf="signupForm.get('email')?.errors?.required">Email is required</div>
              <div *ngIf="signupForm.get('email')?.errors?.pattern">Please enter a valid email</div>
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="mobileNumber">Mobile:</label>
            <input id="mobileNumber" type="text" formControlName="mobileNumber" class="form-control" required>
            <div *ngIf="signupForm.get('mobileNumber')?.invalid && (signupForm.get('mobileNumber')?.touched || signupForm.get('mobileNumber')?.dirty)"
              class="error-message">
              <div *ngIf="signupForm.get('mobileNumber')?.errors?.required">Mobile number is required</div>
              <div *ngIf="signupForm.get('mobileNumber')?.errors?.pattern">Mobile number must start with a digit in the range 6-9 and contain only digits</div>
              <div *ngIf="signupForm.get('mobileNumber')?.errors?.maxlength">Mobile number should contain exactly 10 digits</div>
              <div *ngIf="signupForm.get('mobileNumber')?.errors?.minlength">Mobile number should contain exactly 10 digits</div>
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="password">Password:</label>
            <input id="password" type="password" formControlName="password" class="form-control" required>
            <div *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)"
              class="error-message">
              <div *ngIf="signupForm.get('password')?.errors?.required">Password is required</div>
              <div *ngIf="signupForm.get('password')?.errors?.minlength">Password must be at least 6 characters long</div>
              <div *ngIf="signupForm.get('password')?.errors?.pattern">Password must contain at least 1 uppercase letter, 1 lowercase letter, 1 special character, and 1 digit</div>
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="confirmPassword">Confirm Password:</label>
            <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" required>
            <div *ngIf="signupForm.get('confirmPassword')?.invalid && (signupForm.get('confirmPassword')?.touched || signupForm.get('confirmPassword')?.dirty)"
              class="error-message">Confirm Password is required</div>
            <div *ngIf="signupForm.get('confirmPassword')?.dirty && signupForm.get('password')?.value !== signupForm.get('confirmPassword')?.value"
              class="error-message">Passwords must match</div>
          </div>

          <button type="submit" class="btn btn-primary w-100" [disabled]="signupForm.invalid">Signup</button>
        </form><br>
        <p class="text-center">Already have an account? <a (click)="login()">Login</a></p>
      </div>
    </div>
  </div>

  <!-- Error Popup -->
  <div *ngIf="errorMessage" class="popup-overlay">
    <div class="popup">
      <p>{{ errorMessage }}</p>
      <button class="btn btn-secondary" (click)="closeErrorModal()">OK</button>
    </div>
  </div>

  <!-- Success Popup -->
  <div *ngIf="showSuccessModal" class="popup-overlay" (click)="closeModal()"></div>
  <div *ngIf="showSuccessModal" class="popup">
    <p>User Registration Successful!</p>
    <button class="btn btn-secondary" (click)="closeModal()">OK</button>
  </div>
</body>
</html>
