<div>
  <h2 class="center-table">Loans Details</h2>
  <div class="input-group">
    <div class="form-outline" data-mdb-input-init>
      <input id="search-focus" type="search" class="form-control" placeholder="Search by Loan Type"
        [(ngModel)]="searchTerm" (input)="filterLoans()" />
    </div>
  </div>
  <table class="table table-hover ">
    <thead>
      <tr class="table-light">
        <th scope="col">S.No</th>
        <th scope="col">Loan Type</th>
        <th scope="col">Maximum Amount</th>
        <th scope="col">Interest Rate</th>
        <th scope="col">Repayment Tenure</th>
        <th scope="col">Eligibility Criteria</th>
        <th scope="col">Documents Required</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loan of filteredLoans; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ loan.loanType }}</td>
        <td>{{ loan.maximumAmount | currency:'INR' }}</td>
        <td>{{ loan.interestRate }}%</td>
        <td>{{ loan.repaymentTenure }} months</td>
        <td>{{ loan.eligibility }}</td>
        <td>{{ loan.documentsRequired }}</td>
        <td>{{ loan.description }}</td>
        <td>
          <button *ngIf="isAdmin" (click)="editLoan(loan.loanId)" type="button" class="btn btn-warning">Edit</button>
          <button *ngIf="isAdmin" (click)="deleteLoan(loan.loanId)" type="button" class="btn btn-danger">Delete</button>
          <button *ngIf="!isAdmin" (click)="applyLoan(loan.loanId)" type="button" class="btn btn-success">Apply</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>